{% extends "flashcards/layout.html" %}{% load static %}
{% block body %}
    <h1>{{ category_name }} Questions for the Naturalization Test</h1>
    <p>Use the buttons to navigate and reveal the answer.</p>
    
    <div class="flashcard-box">
        <div class="flashcard-container" id="flashcard-display">
            <div class="flashcard-inner">
                <div class="flashcard-front">
                    <p><strong>Q:</strong> <span id="question-text"></span></p>
                    <div class="navigation-buttons">
                        <button class="previous-question">Back</button>
                        <button class="answer-button">Answer</button>
                        <button class="next-question">Next</button>
                    </div>
                </div>
                <div class="flashcard-back">
                    <p><strong>A:</strong> <span id="answer-text"></span></p>
                    <div class="navigation-buttons">
                        <button class="previous-question">Back</button>
                        <button class="question-button">Question</button>
                        <button class="next-question">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="{% url 'index' %}">Back to Categories</a>
    {{ flashcards_json|json_script:"flashcard-data" }}
    <script src="{% static 'flashcards/flip.js' %}"></script>
{% endblock %}